/* @import url('https://fonts.googleapis.com/css2?family=Raleway&display=swap'); */
@import url('https://fonts.googleapis.com/css2?family=Raleway&family=Satisfy&display=swap');

body {
  margin: 0px;
  font-family: 'Raleway', sans-serif;
}

.e-title {
  margin-left: 1rem;
}

.loading-text {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh
}

* {
  /* border: solid 1px red; */
}